.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-content {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

form {
  display: flex;
  flex-direction: column;
}

input{
  padding: 5px;
  margin: 5px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: right;
  width: 100%;
  margin: 10px 0;
}

button{
  width: 70px;
}
form button{
  margin: 5px;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
}

th{
  min-width: 100px;
  border: 1px solid gray;
  text-align: left;
  padding: 5px;
  background-color: rgb(32, 89, 101);
  color: white;
}

th:first-child{
  min-width: 20px;
}
td{
  border: 1px solid gray;
  padding: 5px;
}